@font-face {
  font-family: 'Pirulen';
  src: url('assets/pirulen.ttf');
}
$select-box-removing-color: red;

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-drag-to-select/scss/ngx-drag-to-select";

body {
  font-family: "Pirulen", Roboto, sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: black;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
